@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  gap: 20px;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;

  .repoInfo {
    max-width: 80vw;
    min-width: 500px;
    max-height: 70vh;
    min-height: auto;
    border: 1px dashed black;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 8px 6px rgba($color: #8d8d8d, $alpha: 0.15);
    padding: 10px 15px;

    .title {
      font-size: 24px;
      font-weight: bold;
    }

    .flexContainer {
      display: flex;
      align-items: center;
      gap: 20px;

      .author {
        border: 1px dashed black;
        padding: 5px;

        img {
          border-radius: 40px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

:global(body) {
  margin: 0;
}
