.gridContainer {
  display: grid;
  grid-template-columns: 357px;
  grid-auto-rows: auto;
  column-gap: 12px;
  row-gap: 20px;
  justify-content: center;
  padding-top: 10px;
}

.rowItem {
  display: grid;
  row-gap: 16px;
}

.inputContainer {
  display: grid;
  grid-template-columns: 295px 50px;
  grid-auto-rows: auto;
  column-gap: 12px;
  row-gap: 20px;
  justify-content: center;
}

.ending {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: auto;
}

.loaderContainer {
  margin: 10px auto;
}
